.body{
  background-color: white;
}

/*Inicio codigo Div cabeza*/
.Encabezado{
  border: 5px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg,#0F0F0F ,10%, #893F78);
}
  
.Logo{ /*Este es el codigo del div que contiene el logo*/
  width: 210px;
  height: 210px;
  padding: auto;
}

.Yeah{/*Este codigo hace referencia tamaño y lugar del logo*/
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.Menu{/*Este es el codigo dl div que contiene el menu*/
  margin-left: 5%;
  color: white;
  font-size: 20px;
}

.Menu .Conocenos{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
  place-items: center;
}

.Menu .Conocenos:hover{
  color: gray;/*esta es la variable para resaltar el link*/
}

.Menu .Galeria{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.Menu .Galeria:hover{
  color: gray;/*esta es la variable para resaltar el link*/
}

.Menu .Opiniones{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.Menu .Opiniones:hover{
  color: gray;/*esta es la variable para resaltar el link*/
}

.Menu .Micarrito{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.Menu .Micarrito:hover{
  color: gray;/*esta es la variable para resaltar el link*/
}

.Inicio{
  margin-left: 2%;
}

.Inicio .Iniciar{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.Inicio .Iniciar:hover{
  color: grey;/*esta es la variable para resaltar el link*/
}

.Inicio .Cerrar{
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding: 10px;
}

.Inicio .Cerrar:hover{
  color: gray;/*esta es la variable para resaltar el link*/
}
/*Fin codigo Div cabeza*/


/*Inicio codigo primera div con carrucel*/
.Contenido{
  height: 400px;
  border: 5px solid black;
  color: black;
  display: flex;
  margin-top: auto;
}

.Descripcion{
  width: 50%;
  background: linear-gradient(0deg,#0F0F0F ,10%, #893F78);
}

.Titulo1{ 
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.Titulo2{
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.Titulo3{
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.Carrusel-container { /*Codigo para Carousel*/
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.Carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.Carrusel img {
  width: 100%;
  height: auto;
}

.Carrusel-button {
  cursor: pointer;
}

.Carrusel-button.prev {
  order: 1;
}

.Carrusel-button.next {
  order: 3;
}
/*Fin codigo primera div con carrucel*/

/*Inicio segundo Carrucel*/
.Somos{
  height: 400px;
  border: 5px solid black;
  color: black;
  display: flex;
  margin-top: auto;
}

.Contenido{
  height: 400px;
  border: 5px solid black;
  color: black;
  display: flex;
  margin-top: auto;
}

.Descripcion{
  width: 50%;
  background: linear-gradient(0deg,#0F0F0F ,10%, #893F78);
}

.Titulo1{ 
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.Titulo2{
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.Titulo3{
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.carousel-container { /*Codigo para Carousel*/
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
}

.carousel-button {
  cursor: pointer;
}

.carousel-button.prev {
  order: 1;
}

.carousel-button.next {
  order: 3;
}
/*Fin segundo Carrucel*/

/*Inicio de la vista previa de la camisa*/
.Diseño{
  height: 400px;
  border: 5px solid black;
  color: black;
  text-align: center;
  background-color: aqua;
}

.Estilo{/*Codigo para el boton de crear tu estilo*/
  height: 40px;
  background: blue;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 10px;
}
/*Fin de la vista previa de la camisa*/

/*Inicio de la galeria*/
.Productos{
  border: 5px solid black;
  color: black; 
  justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 900px;
  position: relative;
}

.slider{
  display: flex ;
  width: 400%;
  height: 800px;
}

.slider__section{
  width: 100%;
}

.slider__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(225, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover{
  background-color: white;
}

.slider__btn--left{
  left: 10px;
}

.slider__btn--right{
  right: 10px;
}