body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
}

.Padre{
    padding: 30px;
    background: #fff;
    font-size: 17px;
    line-height: 26px;
}

.Foto{
    background-color: aqua;
    text-align: center;
    display: flex; /*Coloca los objetos en Horizontal*/
    align-items: center;/*Centra las imagenes*/
    justify-content: center;
}

.Foto_de_perfil{
    padding: 10px;
    width: 200px;
    border-radius: 50%;
}

.Habilidades_duras{
    background-color: rebeccapurple;
    display: flex; /*Coloca los objetos en Horizontal*/
    justify-content: space-between; /*Separa las IMG por espacios separados */
    align-items: center;/*Centra las imagenes*/
}

.Habilidades_duras img{
    width: 200px;
}

.Habilidades_blandas ul{
    display: flex; /*Coloca los objetos en Horizontal*/
    justify-content: space-between; /*Separa las IMG por espacios separados */
    align-items: center;/*Centra las imagenes*/
    list-style: none;
}

.Habilidades_blandas li{
    background-color: #e0e0e0;   /* gris */
    border: 1px solid #9e9e9e;   /* borde */
    border-radius: 999px;        /* forma esférica */
    padding: 8px 16px;           /* tamaño de la cápsula */
    font-size: 14px;
    white-space: nowrap;         /* evita saltos de línea */  

}