body{
  background-color: white;
  font-family: sans-serif;
  margin: 0%;
}

/*Inicio codigo Div cabeza*/
header{
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background: linear-gradient(-90deg,#0F0F0F ,50%, #893F78);
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: white;
}

.Logo{ /*Este es el codigo del div que contiene el logo*/
  display: flex;
  align-items: center;
}

.Logo img{
  height: 150px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: gray;
}

@media (max-width:900px){
  header{
    flex-direction: column;
  }
  
  nav{
    padding: 10px 0px;
  }
}
/*Fin codigo Div cabeza*/


/*Inicio codigo Carruceles responsive*/
.Contenido{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0%;
}

/*Caja de texto*/
.Box_1{
  width: 50%;
  height: auto;
  margin: 20px;
  box-sizing: border-box;
  background: linear-gradient(-90deg,#0F0F0F ,50%, #893F78);
  font-size: 10px;
  flex-flow: wrap;
  text-align: center;
  margin: 0;
  display: grid;
  place-items: center;
}

/*Caja de Carrucel*/
.Box_2{
  width: 50%;
  height: auto;
  margin: 20px;
  box-sizing: border-box;
  font-size: 10px;
  flex-flow: wrap;
  text-align: center;
  margin: 0%;
}

/*Caja de Carrucel*/
.Box_3{
  width: 50%;
  height: auto;
  margin: 20px;
  box-sizing: border-box;
  font-size: 10px;
  flex-flow: wrap;
  text-align: center;
  margin: 0;
}

/*Caja de texto*/
.Box_4{ 
  width: 50%;
  height: auto;
  margin: 20px;
  box-sizing: border-box;
  flex-flow: wrap;
  text-align: center;
  align-items: center;
  margin: 0%;
  background: linear-gradient(90deg,#0F0F0F ,50%, #893F78);
  display: grid;
  place-items: center;
}

.Titulo1{ 
  font-size: 20px;
  color: white;
}

.Titulo2{
  font-size: 20px;
  color: white;
}

.Titulo3{
  font-size: 20px;
  color: white;
}

/* Inicio Codigo para priimer  Carousel*/

.Carrusel-container { 
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.Carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.Carrusel img {
  width: 100%;
  height: auto;
}

.Carrusel-button {
  cursor: pointer;
}

.Carrusel-button.prev {
  order: 1;
}

.Carrusel-button.next {
  order: 3;
}

/* Fin Codigo para priimer Carousel*/

/* Inicio Codigo para Segundo Carousel*/

.carousel-container { 
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
}

.carousel-button {
  cursor: pointer;
}

.carousel-button.prev {
  order: 1;
}

.carousel-button.next {
  order: 3;
}

/* Fin Codigo para Segundo Carousel*/

/* Inicio Codigo responsive */

@media screen and (max-width:900px){
  .Contenido{
    flex-direction: column;
    min-width: none;
  }
  
  .Box_1{
    flex-direction: column;
    width: auto; 
  }

  .Box_2{
    flex-direction: column;
    width: auto; 
  }

  .Box_3{
    flex-direction: column;
    width: auto; 
  }

  .Box_4{
    flex-direction: column;
    width: auto; 
    order: -1;
  }
} 

/* Fin Codigo responsive */

/*Inicio de la vista previa de la camisa*/

.Diseño{
  font-size: 20px;
  height: 400px;
  max-height: 500px;
  color:white;
  text-align: center;
  background: linear-gradient(0deg,#0F0F0F ,10%, #893F78);
  display: grid;
  place-items: center;
}

/*Fin de la vista previa de la camisa*/

/*Codigo para el boton de crear tu estilo*/

.Estilo{
  border: none;
  outline: none;
  height: 40px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 20px;
}

/*Fin de la vista previa de la camisa*/

/*Inicio de la galeria*/

.Productos{
  border: black 2px solid;
  color: black; 
  width: 50%;
  max-width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
}

.slider{
  display: flex ;
  width: 1000%;/*Para agregar mas imagenes*/
  height: 800px;
  margin-left: -100%;
}

.slider__section{
  width: 100%;
}

.slider__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;/*Sirve para que las imagenes no se vean estiradas*/
}

.slider__btn{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(225, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover{
  background-color: white;
}

.slider__btn--left{
  left: 10px;
}

.slider__btn--right{
  right: 10px;
}
/*Segnda galeria*/

.Productos_2{
  border: black 2px solid;
  color: black; 
  width: 50%;
  max-width: auto;
  position: relative;
  overflow: hidden;
}

.slider_2{
  display: flex ;
  width: 1000%;/*Para agregar mas imagenes*/
  height: 800px;
  margin-left: -100%;
}

.slider__section_2{
  width: 100%;
}

.slider__img_2{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;/*Sirve para que las imagenes no se vean estiradas*/
}

.slider__btn_2{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(225, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn_2:hover{
  background-color: white;
}

.slider__btn--left_2{
  left: 10px;
}

.slider__btn--right_2{
  right: 10px;
}
/*Fin de la Galeria*/

/*Comentarios*/

.Reseñas{
  height: 400px;
  color: black;
  display: flex;
  margin-top: auto;
  background: linear-gradient(0deg,#0F0F0F ,10%, #893F78);
}

.Reseñas_1{
  margin-left: 10px;
  width: 70%;
}

.Reseñas label{
  margin: 0;
  padding: 0;
  display: block;
  font-weight: bold;
  text-align: center;
  color: white;
}

.Reseñas input{
  width: 100%;
  margin-bottom: 20px; 
  text-align: center;
}

.Reseñas input[type="text"],
.Reseñas input[type="email"] {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}   

.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
  width: 250px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
}

.Reseñas input[type = "radio"]{ 
  display:none;
}

.Extrellas {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.clasificacion p {
  text-align: center;
}

.Extrellas label {
  font-size: 20px;
}

.Extrellas input[type="radio"] {
  display: none;
}

.Extrellas label {
  color: grey;
}

.Extrellas {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover,
label:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}

