body{

background:#e6a8b4;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:black;
color:white;
padding:40px;
border-radius:10px;
text-align:center;
width:300px;

}

input{

width:100%;
padding:10px;
margin:10px 0;

}

button{

width:100%;
padding:10px;
margin:10px 0;
background:red;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:darkred;

}

a{
color:lightblue;
}